html,
body {
	height: 100%;
	margin: 0;
}

* {
	box-sizing: border-box;
	--background-color: white;
	--menu-height: 60px;
}

#app {
	font-family: Arial, sans-serif;
	--hex-width: 80px;
	--hex-border: 2px;
	--hex-spacing: -0.1px;
	--hex-spacing-left: calc(var(--hex-spacing) * sin(60deg));
	--hex-height: calc(var(--hex-width) * sin(60deg));
	--hex-margin-left: calc(
		calc(-1 * calc(var(--hex-width) / 4)) + var(--hex-spacing-left)
	);
	--hex-margin-bottom: calc(-1 * var(--hex-spacing));
	--hex-low-top: calc(calc(var(--hex-height) / 2) + var(--hex-spacing-left));
	--hex-line-pad-top: var(--hex-spacing);
	--hex-container-pad-top: calc(-1 * var(--hex-spacing-left));

	--hex-fill-color: #ddd;
	--hex-fill-color-hover: #ccc;
    --hex-border-color: darkred;

	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row wrap;

	.menu-box {
		flex: 4 100%;
		height: var(--menu-height);
		border-bottom: 1px solid #ddd;
	}

	.left-box {
		flex: 3 0px;
		height: calc(100% - var(--menu-height));
	}

	.right-box {
		flex: 1 0px;
		height: calc(100% - var(--menu-height));
		border-left: 1px solid #ddd;
	}

	.tiles-container {
		text-align: center;

		.hex-line {
			padding-left: 10px;
			padding-top: var(--hex-container-pad-top);
			width: 100%;
            height: calc(var(--hex-spacing) + var(--hex-height));

			.hexagon {
				position: relative;
				display: inline-block;
				width: var(--hex-width);
				height: var(--hex-height);
				background: var(--hex-border-color);
				margin-left: var(--hex-margin-left);
				margin-bottom: var(--hex-margin-bottom);
				-webkit-clip-path: polygon(
					25% 0%,
					75% 0%,
					100% 50%,
					75% 100%,
					25% 100%,
					0% 50%
				);
				clip-path: polygon(
					25% 0%,
					75% 0%,
					100% 50%,
					75% 100%,
					25% 100%,
					0% 50%
				);
				&.low {
					top: var(--hex-low-top);
				}

				&.hidden {
					display: none;
				}

                &:hover{
                    cursor: pointer;
                }

				.hexagon-inner {
                    --hex-width-inner: calc(var(--hex-width) - calc(2 * var(--hex-border)));
                    --hex-height-inner: calc(var(--hex-width-inner) * sin(60deg));
					position: absolute;
					width: var(--hex-width-inner);
					height: var(--hex-height-inner);
					background: var(--hex-fill-color);
					-webkit-clip-path: polygon(
						25% 0%,
						75% 0%,
						100% 50%,
						75% 100%,
						25% 100%,
						0% 50%
					);
					clip-path: polygon(
						25% 0%,
						75% 0%,
						100% 50%,
						75% 100%,
						25% 100%,
						0% 50%
					);
					top: calc(var(--hex-border) * sin(60deg));
					left: var(--hex-border);

                    &:hover{
                        background: var(--hex-fill-color-hover);
                        cursor: pointer;
                    }

					.sm{
						font-size: 12px;
					}

					.other {
						background-color: yellow;
					}
				}
			}
		}
	}

    .triangle {
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 10px 15px 10px;
        border-color: transparent transparent #FF4532 transparent;
        transform: rotate(0deg);
    }
}
