* {
    --hex-fill-color: #ddd;
    --hex-fill-color-hover: #ccc;
    --background-color: white;
}
#app {
    --hex-width: 60px;
    --hex-height: var(--hex-width) * sin(60deg);
    --hex-margin-left: -12px;
    --hex-margin-bottom: -2px;
    --hex-low-top: 26px;
    --hex-container-pad-top: 2px;
    width: 100%;
    height: 100vh;
}

.hexagon {
	display: inline-block;
	position: relative;
	width: var(--hex-width);
    margin-left: var(--hex-margin-left);
    margin-bottom: var(--hex-margin-bottom);
    cursor: pointer;

    &:before,
    &:after {
        content: '';
        display: block;
        width: 50%;
        border: 0 solid transparent;
    }
    &:before {
        border-bottom-color: var(--hex-fill-color);
        border-width: 0 calc(var(--hex-width)/4) calc(var(--hex-height)/2);
    }
    &:after {
        border-top-color: var(--hex-fill-color);
        border-width: calc(var(--hex-height)/2) calc(var(--hex-width)/4) 0;
    }
    & > .contents {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 25%;
        right: 25%;
    }

    &.low {
        top: var(--hex-low-top);
    }

    &:hover{
        --hex-fill-color: var(--hex-fill-color-hover) !important;
    }

    &.hidden {
        cursor: default;
        &:before {
            border-bottom-color: var(--background-color);
        }
        &:after {
            border-top-color: var(--background-color);
        }    
        &:hover{
            --hex-fill-color: var(--background-color) !important;
        }    
    }
}

.hex-container{
    padding-left: 10px;
    padding-top: var(--hex-container-pad-top);
    width: 100%;
}